@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
:root {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  --color-main-orange: #ff833c;
  --color-main-orange-soft: #ff8c49;
  --color-main-orange-softer: #ff9457;
  --color-main-orange-white: #ffe0cd;
  --color-main-orange-hard: #ff9661;
  --color-main-orange-harder: #ff7530;
  --color-highlight-yellow: #ffcc74;
  --color-shadow-soft: #ededed;
  --color-shadow-hard: #3232327c;
}

body {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
