@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
:root {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  --color-main-bri: #01add1;
  --color-main-bg: linear-gradient(45deg, #82e4d8, #16d6e4);
  --color-header-bg: #51cdd7;
  --color-highlight: #e6fde0;
  --color-highlight-hard: #009ec5;
  --color-white: #e9fff9;
  --color-shadow-soft: #ededed;
  --color-shadow-hard: #3232327c;
}
body {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  background: var(--color-main-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main-bri: #ff7530;
    --color-main-bg: linear-gradient(45deg, #f6d365, #fda085);
    --color-header-bg: #ff9457;
    --color-highlight: #ffcc74;
    --color-highlight-hard: #ff760e;
    --color-white: #fffeeb;
  }
}
